.footer {
  background-color: #113743;
  padding: 25px 100px 10px;
  text-align: justify;
  color: whitesmoke;
  position: bottom;
}

.no-margin {
  margin: 0!important;
  margin-top: 4rem !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.picF {
  margin-bottom: 8px;
}